<div class="content">
    <ul>
        <li *ngFor="let task of notes; let i = index">
            <p> {{task.data.title}}</p>
            <div>
                <button class="btn btn-success listBtn " (click)="editTask(task)" data-bs-toggle="modal" data-bs-target="#editarModal"><i class="fa fa-edit"></i> Edit</button>
                <button class="btn btn-danger listBtn ml-2" (click)="deleteTask(task.id)"><i class="fa fa-trash"> </i> Del</button>
            </div>
        </li>
    </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="EditarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditarModalLabel">Editar nota:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control addInput" name="title" placeholder="Things you want to do today?" [(ngModel)]="editartaskTitle">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary " (click)="editTaskForm()" id="ocultar">Save changes</button>
            </div>
        </div>
    </div>
</div>