<div class="container main">
    <div class="main-container">
        <div class="header ">
            <h1>Add Note <i class="fas fa-pencil-alt mt-4"></i></h1>
        </div>
        <div class="inputDiv">
            <input type="text" class="form-control addInput" name="title" placeholder="Things you want to do today?" [(ngModel)]="taskTitle">
            <button type="submit" class="btn" (click)="addTasks()"><i class="fas fa-plus-circle"></i></button>
        </div>

        <app-list-task></app-list-task>
    </div>
</div>